




<body background="/assets/gray2.jpg">
<title> sign up </title>
<script src="sign_up.js" type="text/javascript"></script>
<div id="msform" style="width:600px; background : rgba(86, 70, 70, 1) ; opacity : 0.9;border-radius : 4px;margin-top : 100px;padding :15px"  >


<%= form_for(@device) do |f| %>
  
  
    <%= f.label :نام ,class:'float' ,style:" color:white;" %><br>
    <%= f.text_field :name ,class:'inp-text' ,style:" width: 40%;"%><br>

    <%= f.label :قیمت ,class:'float' ,style:" color:white;" %> <br>
    <%= f.number_field :price ,class:'inp-text' ,style:" width: 40%;"%><br>


    <%= f.label :عکس ,class:'float' ,style:" color:white;" %><br>
    <%= f.file_field :avatar , class:'inp-text',style:" width: 40%; margin-right: 30%;" %><br>


<%= f.label :توضیحات ,class:'float' ,style:" color:white;" %> <br>
    <%= f.text_field :description ,class:'inp-text' , style: 'width:389px; height:246px;'%>

<div class="field">
    <% f.label :workout_id  %><br>
    <% f.number_field :workout_id %>
  </div>


  <%= f.submit "ذخیره" , class: 'btn btn-danger' , style: 'color: white;width: 20%'%>
<% end %>
 </div>
 </body>
 <%#= render "devise/shared/links" %> 





  <!-- <fieldset>
    <h2 class="fs-title"> Create your account </h2>
    <h3 class="fs-subtitle">This is step 1</h3>
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="pass" placeholder="Password" />
    <input type="password" name="cpass" placeholder="Confirm Password" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Social Profiles</h2>
    <h3 class="fs-subtitle">Your presence on the social network</h3>
    <input type="text" name="twitter" placeholder="Twitter" />
    <input type="text" name="facebook" placeholder="Facebook" />
    <input type="text" name="gplus" placeholder="Google Plus" />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We will never sell it</h3>
    <input type="text" name="fname" placeholder="First Name" />
    <input type="text" name="lname" placeholder="Last Name" />
    <input type="text" name="phone" placeholder="Phone" />
    <textarea name="address" placeholder="Address"></textarea>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
  </fieldset> -->